# ---- ИГНОРИРУЕМ ----

# Любые директории
/*/
# Расширения
*.iml
*.xml
*.pyc
*.idea
*.vscode
*.jpeg
*.html
*.txt
*.csv

# ---- НЕ ИГНОРИРУЕМ ----
!*.py
!*requirements.txt
!*.gitignore
!/unit-tests/
# --- НО ВСЕ ЖЕ ИГНОРИРУЕМ ---
setup.py


